# Practice Assignment :: 01

## How to import pandas and check the version?

In [1]:
import pandas as pd

In [5]:
print(pd.__version__)

1.1.4

## import useful libraries

In [8]:
import numpy as np

## How to create a series from a list, numpy array and dict?

In [14]:
list_series = pd.Series([1, 2, 3, 4, 5])
print(list_series)
print('#'*50)

np_array_series = pd.Series(np.arange(1, 6))
print(np_array_series)
print('#'*50)
data = {
    'Name' : 'Abdullah',
    'Age' : 22,
    'Height' : 5.10
}
dict_series = pd.Series(data) # If data is a dict, argument order is maintained for Python 3.6 and later.
print(dict_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64
##################################################
0    1
1    2
2    3
3    4
4    5
dtype: int32
##################################################
Name      Abdullah
Age             22
Height         5.1
dtype: object

## How to convert the index of a series into a column of a dataframe?

## hint::
### Convert the series ser into a dataframe with its index as another column on the dataframe.

In [ ]:
# index of ser => col of a df

In [29]:
data = ['Abdullah', 22, 5.10]
ser = pd.Series(data, index=['Name', 'Age', 'Height'])
print(ser)
print('#'*50)

# required conversion
df = pd.DataFrame([data], columns=ser.index) # lists of lists yeinn
print(df)

Name      Abdullah
Age             22
Height         5.1
dtype: object
##################################################
       Name  Age  Height
0  Abdullah   22     5.1

# How to combine many series to form a dataframe?

In [41]:
s1 = pd.Series(np.arange(100, 121))
s2 = pd.Series(np.arange(200, 221))

dataframe = pd.concat([s1, s2], axis=1) # concat vs merge ?~?~?~?~?~?~ COME BACK WHEN STUDY THIS IN BOOK
print(dataframe)

      0    1
0   100  200
1   101  201
2   102  202
3   103  203
4   104  204
5   105  205
6   106  206
7   107  207
8   108  208
9   109  209
10  110  210
11  111  211
12  112  212
13  113  213
14  114  214
15  115  215
16  116  216
17  117  217
18  118  218
19  119  219
20  120  220

# How to calculate the number of characters in each word in a series?

In [50]:
dat = ['Shabbir', 'Zubaida', 'Tahir', 'Naheed','Abdullah', 'Muhammad', 'Sumama', 'Taymiyah']
series_ = pd.Series(dat, name='First Names', index=range(1, len(dat)+1))
series_.apply(lambda value: f'number of characters in  {len(value)}')

1    number of characters in name 7
2    number of characters in name 7
3    number of characters in name 5
4    number of characters in name 6
5    number of characters in name 8
6    number of characters in name 8
7    number of characters in name 6
8    number of characters in name 8
Name: First Names, dtype: object

# How to filter valid emails from a series?

## Desired Output::
1    rameses@egypt.com

2            matt@t.com

3    narendra@modi.com

# How to replace missing spaces in a string with the least frequent character?

## Input::
###  my_str = 'dbc deb abed gade'
## Desired Output::
### 'dbccdebcabedcgade'  # least frequent is 'c'

# How to swap two rows of a dataframe?

# How to get the positions where values of two columns match?

# How to replace both the diagonals of dataframe with 0?

# How to get the particular group of a groupby dataframe by key?

### This is a question related to understanding of grouped dataframe.

# Which column contains the highest number of row-wise maximum values?

### Obtain the column name with the highest number of row-wise maximumâ€™s in df.